* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
    margin: 0 auto;
    width: 1200px;
}

.site_header {}

.site_header .container .header_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #aca5a596;
    padding: 10px 0;
}

.site_header .container .header_top .location_wrapper {
    display: flex;
    align-items: center;
}

.site_header .container .header_top .location_wrapper .location_name {
    color: rgba(0, 0, 0, 0.5);
    transition: 0.5s all ease;
    margin-right: 5px;
}

.site_header .container .header_top .location_wrapper .location_name:hover {
    color: rgba(0, 0, 0, 0.9);
}

.site_header .container .header_top .location_wrapper a img {
    margin-right: 2px;
}

.site_header .container .header_top .location_wrapper a {
    display: flex;
    text-decoration: underline;
    align-items: center;
}

.site_header .header_top .dropdown_content {
    position: relative;
    margin-right: 15px;
}

.site_header .header_top .dropdown_content .lang {
    padding: 0 10px;
    margin-right: 15px;
}

.site_header .header_top .dropdown_content .dropdown_menu {
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;
    background: white;
 filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.2));
 transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
    transform-origin: bottom;
 transform: rotateX(90deg);
}

.site_header .header_top .dropdown_content .dropdown_menu a {
    display: block;
    padding: 5px 10px;
}

.site_header .header_top .dropdown_content:hover .dropdown_menu {
    transform: rotateX(0deg);
    z-index: 999;
    opacity: 1;
}

.site_header .container a {
    text-decoration: none;
    transition: cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.4s all;
    color: #272727;
    position: relative;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.site_header .container a:hover {
    color: #558bd9;
;
}

.site_header .container .header_top .header_top_left {
    display: flex;
    align-items: center;
}

.site_header .container .header_top .header_top_right a {
    padding: 8px 15px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    position: relative;
}

.site_header .container .header_top .header_top_right a::before {
    content: '';
    width: 0;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.4s all;
    margin: 0 auto;
    right: 0;
    background: rgb(46, 95, 255);
}

.site_header .container .header_top .header_top_right a:hover::before {
    width: 100%;
}

.site_header .container .header_bottom {
    display: flex;
    justify-content: space-between;
}

.site_header .container .header_bottom {
    display: flex;
    justify-content: space-between;
}

.location_wrapper {
    display: inline-block;
    position: relative;
}
.location_wrapper .rotater:hover .locations {
    transform: rotate(0);
    opacity: 1;

}
.location_marker~.locations {
    position: absolute;
    transform: rotateX(90deg);
    transform-origin: bottom;
    opacity: 0;
    background: white;
    border-radius: 5px;
    filter: drop-shadow(0px 0px 6px rgba(0,0,0,0.2));
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
    top: 20px;
    right: -35px;
}

.locations a{
    text-decoration: none;
    padding: 5px 15px;
    display: block;

}
.header_bottom{
    display: flex;
    align-items: center;
}
.header_bottom .site_logo img{
    object-fit: cover;
        height: 65px;
        width: 160px;
}
.header_bottom .header_bottom_right a:nth-child(1):before{
    content:'';
    position: absolute;
    left: -30px;
    top: 0;
    bottom: 0;
    margin: auto;
    background-image: url('../icons/user.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
}

.header_bottom .header_bottom_right a {
    padding: 10px 15px;

}
.header_bottom .header_bottom_right a.hvr-bounce-to-right:hover {
color: white;
}
.hvr-bounce-to-right:before{
border-radius: 5px;

}
